.about {
  display: flex;
  color: #22356f;
}
.about-title {
  margin: 11.4vw 16.4vw 0 7.7vw;
  font-size: 1.16vw;
  font-weight: 400;
  width: 6.8vw;
}
.about-title p {
  width: 6.8vw;
}
.about-description {
  margin-top: 10.9vw;
  width: 42vw;
  font-weight: 500;
  font-size: 1.7vw;
  line-height: 2.2vw;
}
