@media screen and (max-width: 1366px) {
  .header-content__description {
    padding-top: 2vw;
    font-size: 1.6vw;
    line-height: 1.8vw;
  }
  .about-title {
    margin: 8.4vw 16.4vw 0 7.7vw;
  }
  .about-description {
    margin-top: 7.9vw;
    margin-bottom: 5vw;
  }
  .blog,
  .contact {
    min-height: 20vh;
  }
  .image-blog-contact {
    min-height: 100vh;
    min-width: 35vw;
  }
  .blog-content p,
  .blog-content a {
    margin-left: 4.76vw;
  }
  .blog-content p:nth-child(1) {
    padding-top: 5.76vw;
  }
  .blog-content p:nth-child(2) {
    padding-top: 9.47vw;
  }
  .blog-content a {
    margin-top: 10.13vw;
  }

  .contact-content p,
  .contact-content a {
    margin-left: 7.8vw;
  }
  .contact-content p:nth-child(1) {
    padding-top: 9.76vw;
  }
  .contact-content p:nth-child(2) {
    padding-top: 8.47vw;
    font-size: 4.69vw;
  }
  .contact-content p:nth-child(3) {
    margin-top: 4.47vw;
    font-size: 1.64vw;
  }
  .contact-content a {
    margin-top: 10vw;
  }
  .footer-law::before {
    content: "©";
    display: inline-block;
    position: absolute;
    transform: translate(-1.5vw, 0.15vw);
  }
}
